<% provide :meta_title, t("event_calendar.menu.gantt", scope: "decidim") %>
<div class="wrapper">
  <div class="row columns" style="overflow: auto;">
    <div id="gantt"></div>
  </div>
</div>
<%= javascript_pack_tag "decidim_calendar_gantt" %>
